<title> {{problem.problem_name}}</title>
<div class='container center-text'> {{problem.description}}</div>



  <body>  
    <form action ={%  url 'oj:submit' problem.id %}  method="POST"  enctype="multipart/form-data">  
            {% csrf_token %}  
            <div class="mb-3">
                <label for="solution" class="form-label">Upload your cpp file Here</label>
                <input class="form-control" type="file" name='solution'id="solution">
              </div>  
            <button type="submit" class="save btn btn-default">Submit</button>  
    </form>  
    </body>